

/* sidebar */
.sidebar {
    background-color: #ecf0f1;
    width: 40%;
    height:100%;
    position: fixed;
    left: 0px;
    right: 560px;
    bottom:0px;
    z-index:0;
    padding: 75px 85px 50px;
    order: 1;

}

.opening{
    margin-top: 30%;
}

/*Connect Buttons*/
.connect-buttons {
    padding: 10px;
}

.fa-linkedin {
    color: #adb5bd;
    padding: 5px;
}

.fa-linkedin:hover {
    color: #0077B5;

}

.fa-github-square {
    color: #adb5bd;
    padding: 5px;
}

.fa-github-square:hover {
    color: #333;
}

.fa-instagram {
    color: #adb5bd;
    padding: 5px;
}

.fa-external-link-alt {
    color: #adb5bd;
}

.fa-instagram:hover {
    color: #c13584;
}

.btn-circle {
    border-radius: 25px;
}

/*Parralax effect*/
.paralsec {
    /*background-image: url("/images/personal.jpg");*/
    /*background: linear-gradient(*/
            /*rgba(20,20,20, .5),*/
            /*rgba(20,20,20, .5));*/

    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
            url("/images/personal.jpg");
}

.paralsec1 {
    background-image: url("/images/pic2.jpg");}

.paralsec2 {
    background-image: url("/images/pic3.png");
}

.paralsec-stjude {
    background-image: url("/images/st.jude.jpg");
}

/* Heading for Parallax Section */
.paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
}

.jumbotron{margin-bottom: 0;}

.parallax {

    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-parallax {
    /* Full height */
    height: 50vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Parallax end*/

/*Experience*/
.experience-wrapper {
    margin: 0px 100px;
}

.experience-card {
    border-radius: .75rem;
    padding: 20px;
    cursor: pointer;
}

.experience-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;

    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.big3-footer {
    /*float:right;*/
    padding:10px;
}

.big3-footer-text {
    float:right;
    color: #adb5bd;
}

.experience-card:hover .big3-footer-text {
    color: black;

    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.img-exp {
    padding: 10px;
}

ul#business-skills li {
    display:inline;
}

/*End of Experience*/

/*Awards Section*/
section#awards {
    padding: 40px;
}

.award-card {
    border: 3px solid rgba(0,0,0,.125);
    border-radius: .75rem;
    height: 254.31px;
}

.scale-card {

    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.scale-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;

    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -ms-transform: scale(1.05, 1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05, 1.05);
    /* Safari */
    transform: scale(1.05, 1.05);
}

.award-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;

    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -ms-transform: scale(1.05, 1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05, 1.05);
    /* Safari */
    transform: scale(1.05, 1.05);

}

.award-card:hover .fa-external-link-alt {
    color: black;
    -webkit-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;

}

.award-img {
    height: 142.3px;
}

.award-title {
    padding-top: 20px;
}
/*End of Award*/


/*Miscellaneous*/
.pb-20 {
    padding-bottom: 20px;
}

.pb-50 {
    padding-bottom: 50px;
}

.ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pad-row {
    padding-bottom: 20px;
    padding-top: 20px;
}

.pl-auto {
    /*padding-top: 20vh;*/
}

.pl-2 {
    padding-left: 2px;
}

.nopad-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pad-20 {
    padding: 20px;
}

.pad-50 {
    padding: 50px;
}

.mb-0 {
    margin-bottom:0;
}

.mt-100 {
    margin-top: 100px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-10 {
    margin-top:10px;
}

.mx-75 {
    max-width: 75%;
}

.mg-50-25 {
    margin-top: 50px;
    margin-bottom: 25px;
}

.mg-50-10 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.mg-50 {
    margin: 50px;
}

.w-230 {
    width: 230px;
}

.h-auto {
    height: auto;
}

.fl-r {
    float: right;
}

.br-th {
    border: 3px solid rgba(0,0,0,.125);
}

.container-wrapper {
    padding: 40px 180px;
}

.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.content-wrapper {
    position: static;
    overflow: visible;
    width: 60%;
    max-width: 1200px;
    margin-left: 40%;
    float: none;
    clear: none;
    padding: 0px !important;
    order: 2;

}

/*End of miscellaneous*/

.img-cover {
    object-fit: fill;
}

body {
    font-family: verdana, Sans-Serif;
}
/*Cards*/

.intro-card {
    margin-top:100px;
    margin-right: 100px;
    margin-left: 100px;
}

.img-wrapper {
    /*height: 300px;*/
    /*width: 300px;*/
    border-radius: 25px;
}


/*Education Section*/
section#education {
    background-color: #f7f7f7;
    padding: 70px 0 30px;
}

.img-wrapper-2 {
    padding: 0px 30px 50px;
}

.education-header-wrapper {
    padding:20px;
}

.education-info {
    padding-bottom: 20px;
}

.degree-wrapper {
    padding-bottom: 20px;
}

.education-card {
    width: 282.5px;
    height: 282.5px;
    margin-right: 70px;
    border-radius: 10px;
}

.degree-wrapper {
    padding:20px;
}

.degree-name {
    margin-bottom: 0 !important;
    color: #003087;
}

.card-img {
    height: 180px;
    width: 130px;
}

.card-img-wrapper {
    margin-bottom: 10px;
}
/*End of Education Section*/

.center-card {
    display:block;
    margin:auto;
}

/*Skills Section*/
section#abilities {
    background-color: #f7f7f7;
    /*color: white;*/
}

/*End of Skills Section*/



/*photo gallery*/

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .3s linear;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.gallery-img {
    height: 237.5px;
    width: 237.5px;
    display:block;
    margin:auto;
}

.gallery-modal-img {
    background-size: 100% 100%;
    /*height: 100%;*/
    max-height: none;
    max-width: none;
    width: 100%;
}

.gallery-img-wrapper {
    border: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}


 /*Cover*/

.cover {
    top: 40%;
    position: relative;
}

.big-text {
    font-size:70px;
    font-family: "brandon grotesque", brandon, helvetica, sans-serif;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {

    .parallax {

        /* Full height */
        /*height: 100vh;*/

        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;*/
        background-position: center;
        /*height: 200px;*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paralsec {
        background-image: url("/images/mobileCover.jpg");
        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5));*/

        /*background: linear-gradient(*/
                /*rgba(20,20,20, .5),*/
                /*rgba(20,20,20, .5)),*/
        /*url("/images/mobileCover.jpg");*/
    }

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    .parallax {

        /* Full height */
        /*height: 100vh;*/

        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;*/
        background-position: center;
        /*height: 200px;*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paralsec {
        background-image: url("/images/mobileCover.jpg");
        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5));*/

        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5)),*/
        /*url("/images/mobileCover.jpg");*/
    }

}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    .parallax {

        /* Full height */
        /*height: 100vh;*/

        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;*/
        background-position: center;
        /*height: 200px;*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paralsec {
        background-image: url("/images/mobileCover.jpg");
        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5));*/

        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5)),*/
        /*url("/images/mobileCover.jpg");*/
    }

}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    .parallax {

        /* Full height */
        /*height: 100vh;*/

        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;*/
        background-position: center;
        /*height: 200px;*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paralsec {
        background-image: url("/images/mobileCover.jpg");
        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5));*/

        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5)),*/
        /*url("/images/mobileCover.jpg");*/
    }

}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

    .parallax {

        /* Full height */
        /*height: 100vh;*/

        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;*/
        background-position: center;
        /*height: 200px;*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paralsec {
        background-image: url("/images/mobileCover.jpg");
        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5));*/

        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5)),*/
        /*url("/images/mobileCover.jpg");*/
    }

}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {

    .parallax {

        /* Full height */
        /*height: 100vh;*/

        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;*/
        background-position: center;
        /*height: 200px;*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paralsec {
        background-image: url("/images/mobileCover.jpg");
        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5));*/

        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5)),*/
        /*url("/images/mobileCover.jpg");*/
    }


}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {

    .parallax {

        /* Full height */
        /*height: 100vh;*/

        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;*/
        background-position: center;
        /*height: 200px;*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paralsec {
        background-image: url("/images/mobileCover.jpg");
        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5));*/

        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5)),*/
        /*url("/images/mobileCover.jpg");*/
    }

}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {

    .parallax {

        /* Full height */
        /*height: 100vh;*/

        /* Create the parallax scrolling effect */
        /*background-attachment: fixed;*/
        background-position: center;
        /*height: 200px;*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paralsec {
        background-image: url("/images/mobileCover.jpg");
        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5));*/

        /*background: linear-gradient(*/
        /*rgba(20,20,20, .5),*/
        /*rgba(20,20,20, .5)),*/
        /*url("/images/mobileCover.jpg");*/
    }

}